*{
    background-color: purple;
}

img{
    height: 640px;
    width: auto;
}

.rps{
    height: 320px;
    width: 320px;
}

.Head{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top:5em;
    padding-bottom: 5em;
}

.Body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    height: 320px;
    width: 320px;
}

.Rock{
    background-size: cover;
    background: url("./images/R.png") no-repeat;
    border-color: black;
    border-radius: 5px;
}

.Paper{
    background-size: cover;
    background: url("./images/P.png") no-repeat;
    border-color: black;
    border-radius: 5px;
}

.Scissor{
    background-size: cover;
    background: url("./images/S.png") no-repeat;
    border-color: black;
    border-radius: 5px;
}
