*{
    background-color: grey;
}

img{
    height: 640px;
    width: auto;
}

.rps{
    height: 320px;
    width: 320px;
}

.Head{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top:5em;
    padding-bottom: 5em;
}

.Counter{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.playC{
    font-size:36px;
    color: gold;
    font-style: bold;
    padding-left: 400px;
}

.compC{
    font-size:36px;
    color: gold;
    font-style: bold;
    padding-right: 400px;
}

.Body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Result{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 42px;
}

button{
    height: 320px;
    width: 320px;
}

.Rock{
    background-size: cover;
    background: url("./images/R.png") no-repeat;
    border-color: black;
    border-radius: 5px;
}

.Paper{
    background-size: cover;
    background: url("./images/P.png") no-repeat;
    border-color: black;
    border-radius: 5px;
}

.Scissor{
    background-size: cover;
    background: url("./images/S.png") no-repeat;
    border-color: black;
    border-radius: 5px;
}
